body{

}

p {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 2vh;

}

@media (max-width: 574px) {

        p {
                font-size: 3vw;
            }
        }

.block{
    padding-left: 0px;
    margin: 0px;
}

.card{
    box-shadow: 0 0 10px #000;

    width: 60%;

}

.newsblock {
    background-color: #D87575;

    padding-top: 28px;
    padding-bottom: 50px;



}




.navbar {
    background-color: #57BE85;

}

.color-me {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.d-flex{
    padding-right: 25px;
}

#mainblock {

    background-color: #000000;





    margin-top: 6vh;
    padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;

}

.wrapper{

	font-family: 'Open Sans', sans-serif;
    color: #FFF;
    padding-left: 40px;


}



.row{
    padding-left: 0px;
    padding-bottom: 0px;
}

.card-text{
   font-size:14px;

}


.mainname {
	font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-top: 20px;

    color: red;




}
h1 {
        font-size: 5vw;


    }
@media (max-width: 574px) {

        h1 {
                font-size: 9vw;
            }
        }



.nameblock {

    height: 60vh;



}

.postav{
    background-color: #7BCED7;
    height: 17vh;
}
.sale{
    background-color: #57BE85;
    height: 17vh;
}



.carousel{
    height: 5%;
}








.padding-0{
    padding-right: 0;
    padding-left: 0;

    margin-left: 0;
    margin-right: 0;
}

.rounded {
    margin-top: 12px;
}
