body{
    background-color: #000000;
}

p1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.block{
    padding-left: 0px;
    margin: 0px;
}

.card{
    box-shadow: 0 0 10px #000;
}

.newsblock {
    background-color: #D87575;

    padding-top: 28px;
    padding-bottom: 50px;
}




.navbar {
    background-color: #57BE85;

}

.color-me {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.d-flex{
    padding-right: 25px;
}

#mainblock {
    margin-top: 6vh;
    padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#main_text{


	font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    padding-left: 40px;
    font-size: calc(12px + 30 * (20vw / 3000));

}

.row{
    padding-left: 0px;
    padding-bottom: 0px;
}

.card-text{
   font-size:14px;

}
.card {
    width: 70%;

}

.mainname {
	font-family: 'Open Sans', sans-serif;
    padding-left: 50px;
    padding-top: 20px;
    font-size: calc(27px + 30 * (20vw / 3000));
    color: #FFFFFF;

}

.nameblock {

    height: 60vh;

}

.postav{
    background-color: #7BCED7;
    height: 17vh;
}
.sale{
    background-color: #57BE85;
    height: 20vh;
}

.col-sm-9, .col-sm-3{
    padding:0;
    margin:0;
}

.carousel{
    height: 5%
}