body{
    background-color: #000000;
}

p1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.block{
    padding-left: 0px;
    margin: 0px;
}

.card{
    box-shadow: 0 0 10px #000;
}

.newsblock {
    background-color: #d0c4c2;

    padding-top: 28px;
    padding-bottom: 50px;
}



#oldnav{
    margin-top:90px;
}

.d-flex{
    padding-right: 25px;
}

#mainblock {
    margin-top: 7vh;
    padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

#main_text{
    font-weight: 900;
    font-family: 'Play', sans-serif;
    color: red;
    padding-left: 40px;
    font-size: calc(6px + 50 * (100vw / 3000));

}

.row{
    padding-left: 0px;
    padding-bottom: 0px;
}

.card-text{
   font-size:14px;

}
.card {
    width: 70%;

}

.mainname {

    padding-left: 60px;
    font-size: calc(40px + 50 * (100vw / 3000));
    color: red;

}

.nameblock {

    height: 60vh;

}

.postav{
    background-color: dimgray;
    height: 15vh;
}
.sale{
    background-color: forestgreen;
    height: 20vh;
}

.col-sm-9, .col-sm-3{
    padding:0;
    margin:0;
}

.carousel{
    height: 5%
}