*,
::after,
::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.header {
    background-color: #fff;

}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    padding: 10px 0;
    color: #999999;
    flex-wrap: wrap;
}

.header__phone_list,
.header__mail_list {
    margin-right: 50px;
}

.header__phone_link,
.header__mail_link,
.header__adress_item {
    margin-left: 20px;
}

.header__line {
    background-color: #999999;
    height: 1px;
    opacity: 0.3;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.logo {
    display: block;
}

.slogan {
    display: block;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 23px;
    color: #fcb11b;
    font-weight: 700;
}

.header__content_menu_list {
    color: #323232;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.header__content_menu_list_item+.header__content_menu_list_item {
    margin-left: 50px;
}

.header__content_menu_list_link {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    display: block;
    padding: 20px;
    transition: all 0.1s ease-in;
}

.header__content_menu_list_link:hover {
    background-color: #f5f5f5;
    color: #499235;
}

.header__bottom {
    /* max-width: 1220px;
    margin: 0 auto;   */
    overflow: hidden;
}

.header__bottom_slider {
    display: flex;
}

.header__bottom_slider_item {
    position: relative;
    width: 100%;
    display: none;
    transition: all 0.5s ease-in-out;
}

.header__bottom_slider_item:hover {
    cursor: pointer;
}

.header__bottom_slider_img {
    width: 100%;
    aspect-ratio: 16/9;
}



.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


.header__bottom_slider_item span {
    position: absolute;
    width: 50%;
    text-align: center;
    left: 25%;
    top: 40%;
    z-index: 5;
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    line-height: 55px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

.header__bottom_slides_count {
    display: flex;
    justify-content: center;
}

.count {
    position: relative;
    top: 20px;
    width: 100px;
    height: 5px;
    margin-right: 30px;
    background-color: #499235;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}



.partners {
    text-align: center;
    background-color: #EBEBEB;
}

.partners__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.partners__list_item {
    width: 20%;
    padding: 10px;
    background: rgb(235, 235, 235);
    background: radial-gradient(circle, rgba(235, 235, 235, 0) 58%, rgba(73, 146, 53, 1) 100%);
    margin: 10px;
    transition: all 0.1s ease-in;
    border-radius: 5px;
}

.partners__list_item:hover {
    background-color: #fcb11b;
}

.partners__list_link {
    display: block;
}

.partners__list_link img {
    width: 100%;
    aspect-ratio: 4/3;
}

.news {
    text-align: center;
    padding-bottom: 100px;
}

.news__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__content_item {
    width: 18%;
    background-color: #EBEBEB;
    transition: all 0.1s ease-in;
}

.news__content_item img {
    width: 100%;
    aspect-ratio: 4/3;
}

.news__content_item_description {
    padding: 30px 20px 10px;
    text-align: center;
}

.news__content_item_title {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;

}

.news__content_item_link {
    display: inline-block;
    font-weight: 500;
    padding: 5px 10px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: all 0.1s ease-in;
    border-radius: 5px;
}

.news__content_item_link:hover {
    background-color: #fcb11b;
}

.news__content_item_date {
    display: block;
    font-size: 8px;
}

.offer {
    background-color: #EBEBEB;
    text-align: center;
    padding-bottom: 100px;
}

.section__title {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 500;
    padding: 60px 0 40px 0;
}

.custom {
    padding: 20px 0;
}

.offer__content {
    display: flex;
    justify-content: space-around;
}

.offer__content_item {
    width: 33%;
    background-color: #fff;
    transition: all 0.1s ease-in;
    border-bottom: 2px solid transparent;
}

.offer__content_item:hover {
    border-bottom: 2px solid #fcb11b;
}

.offer__content_item img {
    width: 100%;
    aspect-ratio: 4/3;
}

.offer__content_item_description {
    padding: 30px 20px 20px;
    text-align: start;
}

.offer__content_item_title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;

}

.offer__content_item_link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
    transition: all 0.1s ease-in;
}

.offer__content_item_link:hover {
    background-color: #fcb11b;
}

.about {
    background-color: #fff;
    text-align: center;
}

.about__form_submit {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 30px;
    background-color: #fcb11b;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 1px;
    transition: all 0.1s ease-in;
    border: none;
}

.about__form_submit:hover {
    background-color: #000;
}

.about__form {
    width: 80%;
    margin: 0 auto 20px;
    text-align: left;
    border-radius: 5px;
    background-color: #EBEBEB;
    padding: 20px;
}

.about__form input[type=text],
.about__form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

/* .about__form input[type=submit] {
    display: block;
} */

.about__form_title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;

}

.footer {
    background-color: #111111;
    color: #fff;
    padding-bottom: 20px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.map {
    width: 50%;
}

.footer__contacts_list i,
.footer__office_list i {
    color: #fcb11b;
}

.footer__contacts_link,
.footer__contacts_adress,
.footer__office_city {
    margin-left: 20px;
}

.footer__contacts_adress_margin {
    margin-left: 34px;
}

.footer__contacts_item,
.footer__office_item {
    margin-bottom: 10px;
}


.footer__title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer__bot {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.service__content_title,
.contacts__content_title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.service,
.contacts,
.news__page {
    text-align: center;
    padding-bottom: 100px;

}

.service ul,
.contacts ul,
.service__content_title,
.contacts__content_title {
    text-align: left;
}

.service ul+.service__content_title,
.contacts ul+.contacts__content_title {
    margin-top: 20px;
}

.service ul,
.contacts ul {
    line-height: 20px;
}

.service ul li i,
.contacts h3 i {
    margin-right: 10px;
}

.contacts_map {
    width: 70%;
}

.service__post {
    margin-top: 20px;
}

.contacts ul li span {
    font-weight: 700;
    margin-right: 10px;
}

.service__post_title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
}

.service__post_img_list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}


.service__post_img {
    width: 40%;
    margin-top: 10px;
}

.news__title {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.news__slider {
    display: flex;
    width: 50%;
    margin: 0 auto;
    position: relative;

}

.news__slider_item {
    width: 100%;
    display: none;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;

}

.news__slider_img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.news__slides_count {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.news__count {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #499235;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}

.right,
.left {
    position: absolute;
    top: 50%;
    z-index: 9;
    font-size: 30px;
    opacity: 0.8;
    color: white;

}

.right:hover,
.left:hover {
    opacity: 1;
    cursor: pointer;

}

.right {
    right: 5px;
}

.left {
    left: 5px;
}

.display {
    display: block;
}

.count_active {
    background-color: #fcb11b;
    opacity: 1;
}

@media (max-width: 575.98px) {

    .header__top,
    .header__line {
        display: none;
    }

    .header__content_logo {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 150px;
    }

    .slogan {
        display: none;
    }

    .header__bottom_slider_item span {
        font-size: 25px;
        line-height: 30px;
    }

    .news__content_item {
        width: 26%;
        margin: 10px;
        ;
    }

    .news__content {
        justify-content: center;
    }

    .header__content {
        padding-bottom: 0;
    }

    .header__content_menu {
        position: fixed;
        top: 45px;
        z-index: 10;
        right: 0px;
        height: 100%;
        background-color: #111;
        width: 0;
        transition: 0.5s;
    }

    .header__content_menu_list {
        display: block;
    }

    .header__content_menu_list_item+.header__content_menu_list_item {
        margin-left: 0;
        margin-top: 5px;
    }

    .header__content_menu_nav {
        position: relative;
        margin-right: 10px;
    }

    .header__content_menu_list_link {
        color: #f1f1f1;
        font-size: 14px;
    }

    .burger {
        width: 30px;
    }

    .burger span {
        display: block;
        height: 3px;
        background-color: #000;
        margin-top: 5px;
    }

    .map {
        width: 100%;
    }

    .partners__list_item {
        padding: 3px;
    }

    .news__content_item {
        width: 100%;
        margin: 5px;
    }

    .news__content_item_description {
        padding: 10px 5px 5px;

    }

    .offer__content_item {
        width: 100%;
        margin: 5px;
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: baseline;
        padding-top: 10px;
    }

    .partners__list_item {
        width: 42%;
    }

    .count {
        top: 20px;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 50%;
    }

    .header__bottom_slider_item span {
        font-size: 15px;
        line-height: 15px;
    }

    .header__content_menu_list_item+.header__content_menu_list_item {
        margin-top: 1px;
    }

    .header__content_menu_nav {
        margin-right: 0px;
    }

    .header__content_menu_list_link {
        padding: 15px;
        font-size: 12px;
    }

    .section__title {
        padding: 20px 0 10px 0;
        font-size: 20px;
    }

    .offer__content {
        flex-wrap: wrap;
    }

    .news,
    .offer {
        padding-bottom: 20px;
    }

    .about__form {
        width: 100%;
    }

    .service__post_img {
        width: 100%;
    }

    .service__post_title,
    .service__content_title,
    .news__title {
        font-size: 16px;
    }

    .news__title {
        margin-bottom: 10px;
    }

    .service_page {
        line-height: 20px;
    }

    .contacts_map {
        display: none;
    }

    .news__slider {
        width: 100%;
    }

    .service,
    .contacts,
    .news__page {
        padding-bottom: 20px;
    }

    .service__content_title,
    .contacts__content_title {
        font-size: 16px;
    }
}


/* // Малые девайсы («ландшафтные», >= 575px) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .header__top,
    .header__line {
        display: none;
    }

    .header__content_logo {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 150px;
    }

    .slogan {
        font-size: 18px;
        margin-left: 40px;
    }

    .header__bottom_slider_item span {
        font-size: 25px;
        line-height: 30px;
    }

    .news__content_item {
        width: 26%;
        margin: 10px;
        ;
    }

    .news__content {
        justify-content: center;
    }

    .header__content {
        padding-bottom: 0;
    }

    .header__content_menu {
        position: fixed;
        top: 41px;
        z-index: 10;
        right: 0px;
        height: 100%;
        background-color: #111;
        width: 0;
        transition: 0.5s;
    }

    .header__content_menu_list {
        display: block;
    }

    .header__content_menu_list_item+.header__content_menu_list_item {
        margin-left: 0;
        margin-top: 5px;
    }


    .header__content_menu_nav {
        position: relative;
        margin-right: 10px;
    }

    .header__content_menu_list_link {
        color: #f1f1f1;
        font-size: 14px;

    }

    .burger {
        width: 30px;
    }

    .burger span {
        display: block;
        height: 3px;
        background-color: #000;
        margin-top: 5px;
    }

    .map {
        width: 100%;
    }

    .partners__list_item {
        padding: 3px;
    }

    .news__content_item {
        width: 31%;
        margin: 5px;
    }

    .news__content_item_description {
        padding: 10px 5px 5px;

    }

    .offer__content_item {
        width: 48%;
    }

    .footer__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .partners__list_item {
        width: 29%;
    }

    .contacts_map {
        display: none;
    }

}

/* // Средние девайсы («таблетки», >= 768px)  */
@media (min-width: 768px) and (max-width: 991.98px) {

    .header__top,
    .header__line {
        display: none;
    }

    .header__content_logo {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 200px;
    }

    .slogan {
        font-size: 20px;
        margin-left: 50px;
    }

    .header__bottom_slider_item span {
        font-size: 25px;
        line-height: 30px;
    }

    .news__content_item {
        width: 26%;
        margin: 10px;
        ;
    }

    .news__content {
        justify-content: center;
    }

    .header__content {
        padding-bottom: 0;
    }

    .header__content_menu {
        position: fixed;
        top: 52px;
        z-index: 10;
        right: 0px;
        height: 100%;
        background-color: #111;
        width: 0;
        transition: 0.5s;
    }

    .header__content_menu_list {
        display: block;
    }

    .header__content_menu_list_item+.header__content_menu_list_item {
        margin-left: 0;
        margin-top: 5px;
    }

    .header__content_menu_nav {
        position: relative;
        margin-right: 30px;
    }

    .header__content_menu_list_link {
        color: #f1f1f1;
    }

    .burger {
        width: 30px;
    }

    .burger span {
        display: block;
        height: 3px;
        background-color: #000;
        margin-top: 5px;
    }

    .map {
        width: 40%;
    }

    .partners__list_item {
        padding: 5px;
    }

    .offer__content_item {
        width: 48%;
    }

    .contacts_map {
        display: none;
    }
}


/* // Большие девайсы (большие десктопы, >= 992px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo img {
        width: 200px;
    }

    .slogan {
        font-size: 20px;
    }

    .header__content_menu_list_item+.header__content_menu_list_item {
        margin-left: 30px;
    }

    .header__bottom_slider_item span {
        font-size: 40px;
    }
}

/* // Большие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1200px) {
    .header__bottom_slider {
        height: calc(100vh - 150px);
    }
}