<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=">
        <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники</title>
        <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
        <link rel="stylesheet" th:href="@{../css/reset.css}" href="../static/css/reset.css">
        <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header class="header" th:insert="blocks/header :: header"></header>
        <main>
            <section class="main_slider">
                <div class="header__bottom">
                    <div class="header__bottom_slides_count">
                        <div class="count"></div>
                        <div class="count"></div>
                        <div class="count"></div>
                    </div>
                    <div class="header__bottom_slider">
                        <div class="header__bottom_slider_item fade">
                            <span>Мы лидеры на рынке в своей области</span>
                            <img th:src="@{../img/slider_1.jpg}" src="../static/img/slider_1.jpg" alt=""
                                 class="header__bottom_slider_img">
                        </div>
                        <div class="header__bottom_slider_item fade">
                            <span>Со знанием дела</span>
                            <img th:src="@{../img/slider_2.jpeg}" src="../static/img/slider_2.jpeg" alt=""
                                 class="header__bottom_slider_img ">
                        </div>
                        <div class="header__bottom_slider_item fade">
                            <span>Техника поколений</span>
                            <img th:src="@{../img/slider_3.jpg}" src="../static/img/slider_3.jpg" alt=""
                                 class="header__bottom_slider_img ">
                        </div>
                    </div>
                </div>
            </section>
            <section class="partners">
                <div class="container">
                    <h2 class="section__title">Наши партнеры</h2>
                    <div class="partners__list">
                        <div class="partners__list_item"><a href="https://www.bourgault.com/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/bourgault.jpg}" src="../static/img/bourgault.jpg"
                                                                                  alt="">
                        </a></div>

                        <div class="partners__list_item"><a href="https://www.krone-rus.ru/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/krone.jpg}" src="../static/img/krone.jpg" alt="">
                        </a></div>
                        <div class="partners__list_item"><a href="https://www.deutz-fahr.com/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/deutz-fahr.jpg}" src="../static/img/deutz-fahr.jpg"
                                                                                  alt="">
                        </a></div>
                        <div class="partners__list_item"><a href="https://www.honeybee.ca/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/honey.jpg}" src="../static/img/honey.jpg" alt="">
                        </a>
                        </div>
                        <div class="partners__list_item"><a href="https://www.techsystemskft.com/highline"
                                                            class="partners__list_link" target="__blank"><img th:src="@{../img/highline.jpg}"
                                                                                                              src="../static/img/highline.jpg" alt="">
                        </a>
                        </div>
                        <div class="partners__list_item"><a href="https://www.etsprayers.com/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/apache.jpg}" src="../static/img/apache.jpg" alt="">
                        </a>
                        </div>
                        <div class="partners__list_item"><a href="https://bdm-agro.ru/" class="partners__list_link"
                                                            target="__blank"><img th:src="@{../img/bdm-agro.jpg}" src="../static/img/bdm-agro.jpg"
                                                                                  alt="">
                        </a></div>
                        <div class="partners__list_item"><a href="https://www.faresindustries.com/rus?countryCode=RUS"
                                                            class="partners__list_link" target="__blank"><img th:src="@{../img/faresin.jpg}"
                                                                                                              src="../static/img/faresin.jpg" alt="">
                        </a></div>
                    </div>
                </div>
            </section>
            <section class="news">
                <div class="container">
                    <h2 class="section__title">Новости</h2>
                    <div class="news__content">
                        <div class="news__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="news__content_item_description">
                                <h3 class="news__content_item_title">Ссылка на отдельную страницу ТУТ<span
                                        class="news__content_item_date">01.01.2022</span></h3>
                                <p>Разместите тут краткое описание новости.</p>
                                <a th:href="@{/news_singlePage}" href="news_singlePage.html"
                                   class="news__content_item_link">Читать</a>
                            </div>
                        </div>
                        <div class="news__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="news__content_item_description">
                                <h3 class="news__content_item_title">Новость<span
                                        class="news__content_item_date">01.01.2022</span></h3>
                                <p>Разместите тут краткое описание новости.</p>
                                <a href="" class="news__content_item_link">Читать</a>
                            </div>
                        </div>
                        <div class="news__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="news__content_item_description">
                                <h3 class="news__content_item_title">Новость<span
                                        class="news__content_item_date">01.01.2022</span></h3>
                                <p>Разместите тут краткое описание новости.</p>
                                <a href="" class="news__content_item_link">Читать</a>
                            </div>
                        </div>
                        <div class="news__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="news__content_item_description">
                                <h3 class="news__content_item_title">Новость<span
                                        class="news__content_item_date">01.01.2022</span></h3>
                                <p>Разместите тут краткое описание новости.</p>
                                <a href="" class="news__content_item_link">Читать</a>
                            </div>
                        </div>
                        <div class="news__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="news__content_item_description">
                                <h3 class="news__content_item_title">Новость<span
                                        class="news__content_item_date">01.01.2022</span></h3>
                                <p>Разместите тут краткое описание новости.</p>
                                <a href="" class="news__content_item_link">Читать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="offer">
                <div class="container">
                    <h2 class="section__title">Услуги</h2>
                    <div class="offer__content">
                        <div class="offer__content_item">
                            <img th:src="@{../img/sales.png}" src="../static/img/sales.png" alt="">
                            <div class="offer__content_item_description">
                                <h3 class="offer__content_item_title">Продажа сельхозтехники</h3>
                                <p>Разместите тут краткое описание вашего спецпредложения, товара или услуги.</p>
                                <a href="" class="offer__content_item_link">Подробнее</a>
                            </div>
                        </div>
                        <div class="offer__content_item">
                            <img th:src="@{../img/services.jpg}" src="../static/img/services.jpg" alt="">
                            <div class="offer__content_item_description">
                                <h3 class="offer__content_item_title">Сервисное обслуживание</h3>
                                <p>Разместите тут краткое описание вашего спецпредложения, товара или услуги.</p>
                                <a th:href="@{/service}" href="service.html" class="offer__content_item_link">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about">
                <div class="container">
                    <h2 class="section__title">О Нас</h2>
                    <p>Компания «АгроМашины» – официальный дистрибьютор и дилер техники известных европейских, канадских и
                        американских брендов. Объединяя многолетние традиции производства, контроля качества и сервисного
                        обслуживания ведущих брендов производителей сельскохозяйственной техники, компания «АгроМашины»
                        создает уникальные предложения по оснащению предприятий современной производительной техникой для
                        обеспечения комплекса сельскохозяйственных работ в растениеводстве и животноводстве.</p>
                    <h3 class="about__form_title">Остались вопросы? Напишите нам!</h3>
                    <form class="about__form" action="#" th:action="@{/}"  method="post" th:object="${message}" >
                        <label for="name">Ваше Имя</label>
                        <input type="text" id="name" name="name" th:field="*{name}"  required>
                        <label for="email">Email</label>
                        <input type="text" id="email" th:field="*{email}" name="email" required>
                        <label for="content">Сообщение</label>
                        <textarea id="content" th:field="*{content}" name="content" required></textarea>
                        <input type="submit" class="about__form_submit" value="Связаться">
                    </form>
                </div>

            </section>
        </main>

        <footer class="footer" th:insert="blocks/footer :: footer"></footer>

        <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
    </body>
</html>