<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление новостей</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
    <link rel="stylesheet" th:href="@{../css/reset.css}" href="../static/css/reset.css">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header" th:insert="blocks/header :: header"></header>
    <a th:href="@{/}" href="/">На главную</a>

    <h3>Здесь добавляем новости</h3>
    <div class="container mt-5 mb-5">


        <div>
            <form th:action="@{/newsadding}" action="/newsadding" method="post" enctype="multipart/form-data">
                <p><h3>Заголовок</h3></p>
                <p><input type="text" name="title" placeholder="Введите заголовок"/></p>
                <p><h3>Описание</h3></p>
                <p><input type="text" name="announcement" placeholder="Введите краткое описание"/></p>
                <p><h3>Полный текст</h3></p>
                <p><textarea name="content" id="contentNews" cols="30" rows="10" placeholder="Введите текст"></textarea></p>
                <h3>Загрузка изображений</h3>
                <input type="file" name="files" multiple required />
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>
    <a th:href="@{/newsedit}" href="/">Редактирование Новостей</a>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>