<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники
    </title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header" th:insert="blocks/header :: header"></header>
    <main>
        <div class="header__line"></div>
        <section class="news__page">
            <div class="container">
                <h2 class="section__title custom">Новости</h2>
                <h3 class="news__title" th:text="${newsAndImg.news.titleNews}">Новость<span class="news__content_item_date">01.01.2022</span></h3>
                <p th:text="${newsAndImg.news.contentNews}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aliquam adipisci inventore.
                    Perferendis magnam placeat facere quaerat deleniti quo. Non!</p>
                <div class="news__slides_count">
                    <div class="news__count"></div>
                    <div class="news__count"></div>
                    <div class="news__count"></div>
                </div>

                <div class="news__slider">
                    <i class="fa-solid fa-circle-right right"></i>
                    <i class="fa-solid fa-circle-left left"></i>
                    <div th:each="picture, iterstat : ${newsAndImg.imgs}" class="news__slider_item fade">
                        <img th:src="${picture}" src="../static/img/slider_2.jpeg" alt=""
                             class="news__slider_img ">
                    </div>

<!--                    <div class="news__slider_item fade">
                        <img th:src="@{../img/slider_1.jpg}" src="../static/img/slider_1.jpg" alt=""
                            class="news__slider_img">
                    </div>
                    <div class="news__slider_item fade">
                        <img th:src="@{../img/slider_2.jpeg}" src="../static/img/slider_2.jpeg" alt=""
                            class="news__slider_img ">
                    </div>
                    <div class="news__slider_item fade">
                        <img th:src="@{../img/slider_3.jpg}" src="../static/img/slider_3.jpg" alt=""
                            class="news__slider_img ">
                    </div>-->
                </div>
            </div>
        </section>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>

</html>