<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование новостей</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
    <link rel="stylesheet" th:href="@{../css/reset.css}" href="../static/css/reset.css">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>


</head>

<body>

    <header class="header" th:insert="blocks/header :: header"></header>
    <main>
        <div class="container">
            <h2 class="section__title" style="text-align: center;">Список новостей</h2>
            <table class="table_news">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Announcement</th>
                        <th>Images</th>
                        <th>Images View</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="n:${newsAndImgs}">
                        <td th:text="${n.news.Id}"></td>
                        <td>
                            <form th:action="@{'/deletenews/' +${n.news.Id}}" method="post">
                                <p th:text="${n.news.titleNews}"></p>
                                <button type="submit" class="table__news_submit">Удалить</button>
                            </form>
                        </td>
                        <td th:text="${n.news.announcementNews}"></td>
                        <td th:text="${n.news.imgLibJson}"></td>
                        <td th:each="i:${n.imgs}">
                            <img th:src="${i}" height="100">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>

</html>