<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление новостей</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
    <link rel="stylesheet" th:href="@{../css/reset.css}" href="../static/css/reset.css">
    <link rel="stylesheet" th:href="@{../css/style.css}" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header" th:insert="blocks/header :: header"></header>
    <main>
        <div class="container">
            <h2 class="section__title" style="text-align: center;">Здесь добавляем новости</h2>
            <form th:action="@{/newsadding}" action="/newsadding" method="post" enctype="multipart/form-data"
                class="login__form">
                <label for="name">Заголовок</label>
                <input type="text" name="title" id="name">
                <label for="announcement">Описание</label>
                <input type="text" name="announcement" id="announcement">
                <label for="contentNews">Полный текст</label>
                <textarea name="content" id="contentNews" cols="30" rows="10"></textarea>
                <label style="display:block; margin-top:10px;" for="files">Загрузка изображений</label>
                <input type="file" name="files" multiple required id="files">
                <button type="submit" class="about__form_submit">Сохранить</button>
            </form>
            <a th:href="@{/newsedit}" class="link__To" ref="/">Редактирование Новостей</a>
            <a th:href="@{/}" class="link__To" href="/">На
                главную</a>
        </div>
    </main>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>