<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Агромашины | Продажа и обслуживание сельскохозяйственной техники
    </title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favikon.png" th:src="@{../img/favikon.png}">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{../css/reset.css}">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{../css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/383095d68f.js" crossorigin="anonymous"></script>

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__top">
                <ul class="header__phone_list">
                    <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                        <a class="header__phone_link" href="tel:+73833357393">+7 383 335-73-93</a>
                    </li>
                    <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                        <a class="header__phone_link" href="tel:+79139245321">+7 913 924-53-21</a>
                    </li>
                    <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                        <a class="header__phone_link" href="tel:+79833111031">+7 983 311-10-31</a>
                    </li>
                </ul>
                <ul class="header__mail_list">
                    <li class="header__mail_item"><i class="fa-solid fa-envelope"></i>
                        <a class="header__mail_link" href="mailto:3111031@agromashiny.ru">3111031@agromashiny.ru</a>
                    </li>
                    <li class="header__mail_item"><i class="fa-solid fa-envelope"></i>
                        <a class="header__mail_link" href="mailto:info@agromashiny.ru">info@agromashiny.ru</a>
                    </li>
                </ul>
                <ul class="header__adress_list">
                    <li><i class="fa-solid fa-location-dot"></i>
                        <span class="header__adress_item">Новосибирская область, ceло Красноглинное, ул. Мира, д.
                            2а</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__line"></div>
        <div class="container">
            <div class="header__content">
                <div class="header__content_logo">
                    <a href="" class="logo"><img src="../static/img/logo.png" th:src="@{../img/logo.png}" alt=""></a>
                    <span class="slogan">Техника Вашего Успеха</span>
                </div>
                <div class="header__content_menu_nav">
                    <div class="burger">
                        <span class="burger_span"></span>
                        <span class="burger_span"></span>
                        <span class="burger_span"></span>
                    </div>
                    <nav class="header__content_menu">
                        <ul class="header__content_menu_list">
                            <li class="header__content_menu_list_item"><a th:href="@{/}"
                                    class="header__content_menu_list_link" href="index.html">Главная</a></li>
                            <li class="header__content_menu_list_item"><a class="header__content_menu_list_link"
                                    href="#">Каталог</a></li>
                            <li class="header__content_menu_list_item"><a th:href="@{/service}"
                                    class="header__content_menu_list_link" href="service.html">Сервис</a></li>
                            <li class="header__content_menu_list_item"><a th:href="@{/news}"
                                    class="header__content_menu_list_link" href="news.html">Новости</a></li>
                            <li class="header__content_menu_list_item"><a th:href="@{/contacts}"
                                    class="header__content_menu_list_link" href="contacts.html">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="header__line"></div>
        <section class="service">
            <div class="container">
                <h2 class="section__title custom service_page">Сервисное обслуживание</h2>
                <h3 class="service__content_title">Сервисная служба «АгроМашины» осуществляет:</h3>
                <ul>
                    <li><i class="fa-solid fa-wrench"></i>техническую поддержку
                        сельхозпредприятий.</li>
                    <li><i class="fa-solid fa-wrench"></i>техническое обслуживание, как в гарантийный период, так и в
                        постгарантийный период.</li>
                </ul>
                <h3 class="service__content_title">Сервисная служба проводит:</h3>
                <ul>
                    <li><i class="fa-solid fa-bookmark"></i>обучение специалистов и механизаторов хозяйств работе с
                        техникой, производить настройку, что
                        позволяет использовать технику более эффективно.</li>
                    <li><i class="fa-solid fa-bookmark"></i>обучающие семинары по агротехнологиям по выращиванию
                        зерновых
                        и кормовых культур с привлечением
                        ведущих специалистов России и Европы, одновременно проходит презентация новинок
                        сельскохозяйственной техники.</li>
                </ul>
                <div class="service__post">
                    <h3 class='service__post_title'>Установка фронтального погрузчика на трактор Deutz_Fahr</h3>
                    <!-- <div class="service__post_img_list">

                        <img th:src="@{../img/service_1.jpg}" src="../static/img/service_1.jpg" alt=""
                            class="service__post_img">
                        <img th:src="@{../img/service_2.jpg}" src="../static/img/service_2.jpg" alt=""
                            class="service__post_img">
                    </div> -->
                    <div class="news__slides_count">
                        <div class="news__count"></div>
                        <div class="news__count"></div>
                    </div>
                    <div class="news__slider">
                        <i class="fa-solid fa-circle-right right"></i>
                        <i class="fa-solid fa-circle-left left"></i>
                        <div class="news__slider_item fade">
                            <img th:src="@{../img/slider_1.jpg}" src="../static/img/service_1.jpg" alt=""
                                class="news__slider_img">
                        </div>
                        <div class="news__slider_item fade">
                            <img th:src="@{../img/slider_2.jpeg}" src="../static/img/service_2.jpg" alt=""
                                class="news__slider_img ">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
    <script th:src="@{../js/main.js}" src="../static/js/main.js"></script>
</body>