<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <div class="container">
        <div class="header__top">
            <ul class="header__phone_list">
                <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                    <a class="header__phone_link" href="tel:+73833357393">+7 383 335-73-93</a>
                </li>
                <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                    <a class="header__phone_link" href="tel:+79139245321">+7 913 924-53-21</a>
                </li>
                <li class="header__phone_item"><i class="fa-solid fa-phone"></i>
                    <a class="header__phone_link" href="tel:+79833111031">+7 983 311-10-31</a>
                </li>
            </ul>
            <ul class="header__mail_list">
                <li class="header__mail_item"><i class="fa-solid fa-envelope"></i>
                    <a class="header__mail_link" href="mailto:3111031@agromashiny.ru">3111031@agromashiny.ru</a>
                </li>
                <li class="header__mail_item"><i class="fa-solid fa-envelope"></i>
                    <a class="header__mail_link" href="mailto:info@agromashiny.ru">info@agromashiny.ru</a>
                </li>
            </ul>
            <ul class="header__adress_list">
                <li><i class="fa-solid fa-location-dot"></i>
                    <span class="header__adress_item">Новосибирская область, ceло Красноглинное, ул. Мира, д.2а</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="header__line"></div>
    <div class="container">
        <div class="header__content">
            <div class="header__content_logo">
                <a href="" class="logo"><img src="../static/img/logo.png" th:src="@{../img/logo.png}" alt=""></a>
                <span class="slogan">Техника Вашего Успеха</span>
            </div>
            <div class="header__content_menu_nav">
                <div class="burger">
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                    <span class="burger_span"></span>
                </div>
                <nav class="header__content_menu">
                    <ul class="header__content_menu_list">
                        <li class="header__content_menu_list_item">
                            <a th:href="@{/}" class="header__content_menu_list_link" href="index.html">Главная</a>
                        </li>
                        <li class="header__content_menu_list_item">
                            <a class="header__content_menu_list_link" href="#">Каталог</a>
                        </li>
                        <li class="header__content_menu_list_item">
                            <a th:href="@{/service}" class="header__content_menu_list_link" href="service.html">Сервис</a>
                        </li>
                        <li class="header__content_menu_list_item">
                            <a th:href="@{/news}" class="header__content_menu_list_link" href="news.html">Новости</a>
                        </li>
                        <li class="header__content_menu_list_item">
                            <a th:href="@{/contacts}" class="header__content_menu_list_link" href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>